* {
    box-sizing: border-box;
}

.header {
    background-color: red;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.left-side {
    background-color: green;
    width: 25%;
    padding: 20px;
    margin: 0px 0px 0px 20px;
}

.right-side {
    background-color: beige;
    float: right;
    width: 70%;
    padding: 20px;
    margin: 0px 20px 0px 0px;
}

a:hover {
    color: blue;
}